<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <h2><b>經歷</b></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-1"></div>
        <div class="col-xs-10 col-sm-11">
            <div class="col-xs-2 col-sm-1">
                <h3>九樓一號科技公司 Junior Developer</h3>
                <p>2017年12月 - 2018年4月</p>
            </div>
            <div class="col-xs-10 col-sm-11">
                <p style="text-align: left;">負責產品測試、錯誤排除及功能開發。公司開發的產品為整合Line、Facebook等通訊軟體的客服平台，在產品開發的過程中，對於MVC架構、第三方API串接、MongoDB、Test Case與RESTful API都有大略的了解，並在逐項完成被分派的工作的過程中，也漸漸俱備獨立開發功能的能力。</p>
                <p>
                    <span style="color: rgb(0, 184, 255);">HTML</span>、
                    <span style="color: rgb(0, 184, 255);">CSS</span>、
                    <span style="color: rgb(0, 184, 255);">Javascript</span>、
                    <span style="color: rgb(0, 184, 255);">JQuery</span>、
                    <span style="color: rgb(0, 184, 255);">Node.js</span>、
                    <span style="color: rgb(0, 184, 255);">MongoDB</span>、
                    <span style="color: rgb(0, 184, 255);">RESTful API</span>
                </p>        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-1"></div>
        <div class="col-xs-10 col-sm-11">
            <div class="col-xs-2 col-sm-1">
                <h3>誠致基金會Hour of code種子志工</h3>
                <p>2016年8月</p>
            </div>
            <div class="col-xs-10 col-sm-11">
                <p style="text-align: left;">引導家長及孩子體驗「<a href="http://hocintw.thealliance.org.tw/3963639511199682356726178296093124324335.html" target="_blank" rel="nofollow noopener noreferrer">一小時玩程式</a>」並協助及引導解決問題。與民眾互動的過程中，讓我學習如何將程式的邏輯，解說給不同年齡層及不同背景的人。</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-1"></div>
        <div class="col-xs-10 col-sm-11">
            <div class="col-xs-2 col-sm-1">
                <h3>國立暨南國際大學 資訊管理學系</h3>
                <p>2012年9月 - 2016年6月</p>
            </div>
            <div class="col-xs-10 col-sm-11">
                <p>在學期間廣泛學習資訊相關課程，除基本程式語言課程，額外有修習計算智慧及規劃、開源軟體應用、Linux系統管理實務等，並在專題時與原住民母語老師合作，使用Javascript、PHP、JQuery，與組員共同製作能提升學生學習效率及興趣的沉浸式教學教材。</p>
                <p>
                    <span style="color: rgb(0, 184, 255);">HTML</span>、
                    <span style="color: rgb(0, 184, 255);">CSS</span>、
                    <span style="color: rgb(0, 184, 255);">Javascript</span>、
                    <span style="color: rgb(0, 184, 255);">JQuery</span>、
                    <span style="color: rgb(0, 184, 255);">PHP</span>、
                    <span style="color: rgb(0, 184, 255);">MySQL</span>、
                    <span style="color: rgb(0, 184, 255);">Java</span>、
                    <span style="color: rgb(0, 184, 255);">Linux</span>
                </p>        
            </div>
        </div>
    </div>
</div>