<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
        <li><img src="{{site.baseurl}}/assets/img/{{site.pic}}"></li>
        <li class="menu-items"><span  class="fre social-links">E-mail：</span><a href="mailto:leanjn0922@gmail.com" target="_blank">leanjn0922@gmail.com</a></li>
        <li class="menu-items"><span class="fre social-links">Phone：0910-896919</span></li>
        <li class="menu-items"><a class="menu-links" href="https://github.com/AndsLog">Github project</a></li>
    </menu>
  </div>
</aside>
