<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
        <li><img src="{{site.baseurl}}/assets/img/{{site.pic}}"></li>
            <div class="sidebar-social">
                <li><a href="https://github.com/{{site.github}}" class="social-links"><i class="fab fa-github fa-2x"></i></a></li>
            </div>
        <li class="menu-items"><a style="font-size:1.2rem ; color:#fff ; text-transform:uppercase ; padding:1rem 1.3rem ;">e-mail：</a><a href="mailto:leanjn0922@gmail.com" class="social-links">leanjn0922@gmail.com</a></li>
        <li class="menu-items"><a style="font-size:1.2rem ; color:#fff ; padding:1rem 1.3rem ;">電話：0910-896919</a></li>
        <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Resume</a></li>
        <!--<li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About</a></li>-->
        <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/works/">Works</a></li>
        <li class="menu-items"><a class="menu-links" href="https://github.com/AndsLog">Github project</a></li>
    </menu>
  </div>
</aside>
