<div class="col-sm-12">
    <h1><b>技能</b></h1>
</div>

<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <p>
                專題
                <ul>
                    <li><span style="font-size: 18px;">前端：使用HTML、CSS、Javascript為呈現的主幹，並以JQuery及GreenSock JS輔助動畫的部分。 ;</span></li>
                    <li><span style="font-size: 18px;">後端：以PHP連結資料庫，使用MySQL儲存玩家的遊戲進度及積分。</span></li>
                </ul>
            </p>
            <p>
                計算智慧及規劃期末報告
                <ul>
                     <li>使用CSS、Javascript將螢火蟲演算法得出的數據以圖形化呈現。</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div class="row" title="" data-original-title="">
    <div class="col-sm-6 item">
        <hr><h1>前端</h1>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript / JQuery</li>
            <li>GreenSock JS</li>
        </ul>
    </div>
    <div class="col-sm-6 item">
        <hr><h1>後端</h1>
        <ul>
            <li>PHP</li>
            <li>MySQL</li>
        </ul>
    </div>
</div>




<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <p>
                系統程式期末報告
                <ul>
                    <li>使用Java實作簡易assembler</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row" title="" data-original-title="">
        <div class="col-sm-6 item">
            <hr><h1>其他語言</h1>
            <p>
                <ul>
                    <li>Java</li>
                    <li>C / C#</li>
                </ul>
            </p>
        </div>
        <div class="col-sm-6 item">
            <hr><h1>其他開發工具</h1>
            <p>
                <ul>
                    <li>Git/Github</li>
                    <li>Joomla</li>
                    <li>Cordova</li>
                </ul>
        </div>
    </div>
</div>
