<div class="col-12">
    <h2><b>技能</b></h2>
</div>
<div class="col-sm-12" style="text-align: left;">
    <div class="row">
        <div class="col-sm-6 item">
            <hr>
            <h2>前端</h2>
            <p></p>
            <ul>
                <li>HTML<br></li>
                <li>CSS<br></li>
                <li>Javascript</li>
                <li>JQuery<br></li>
                <li>Bootstrap</li>
                <li>GreenSock JS<br></li>
            </ul>
        </div>
        <div class="col-sm-6 item">
            <hr>
            <h2>後端</h2>

            <ul>
                <li>PHP</li>
                <li>Node.js</li>
                <li>MySQL<br></li>
                <li>MongoDB</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <br>
        </div>
    </div>
    <div class="row"  aria-describedby="tooltip98835">
        <div class="col-sm-6 item">
            <hr>
            <h2>其他語言</h2>
            <ul>
                <li>Java<br></li>
                <li>C / C#<br></li>
                <li>Vba</li>
            </ul>
        </div>
        <div class="col-sm-6 item">
            <hr>
            <h2>其他開發工具</h2>
            <ul>
                <li>Git/Github<br></li>
                <li>Vagrant</li>
                <li>Heroku</li>
            </ul>
        </div>
    </div>
</div>