<div class="col-sm-10">
    <h1><b>李安正</b></h1>
    <p><span style="font-size: 18px;">樂於面對種種挑戰，能快速融入不同團隊─</span></p>
    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
        <ul>
            <li><span style="font-size: 18px;">工作經歷：九樓一號科技公司 Junior Developer 。</span></li>
            <li><span style="font-size: 18px;">專業技能：Javascript、PHP、Java、Node.js、MongoDB、MySQL等。<br></span></li>
            <li><span style="font-size: 18px;">志工經歷：良顯堂基金會志工、誠致基金會Hour of code種子志工。<br></span></li>
            <li><span style="font-size: 18px;">活動經歷：宿營機動長、系壘副隊長、系學會副會長、羽球社副社長、畢委會活動長。</span></li>
        </ul>
    </blockquote>
    <div class="edit">
        <div class="social-links">
            <a href="https://github.com/AndsLog" target="_blank" rel="nofollow noopener noreferrer"><i class="fa"></i></a>
        </div>
    </div>
  <p><span class="__cf_email__">E-mail：<a href="mailto:leanjn0922@gmail.com" target="_blank" rel="nofollow noopener noreferrer">leanjn0922@gmail.com</a></span></p>
  <p>電話：0910-896919</p>
</div>