<div class="col-sm-10">
    <h1><b>李安正</b></h1>
    <p>樂於面對種種挑戰，能快速融入不同團隊─</p>
    <blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
        <p></p>
        <ul>
            <li>志工經歷：良顯堂基金會志工、誠致基金會Hour of code種子志工。</li>
            <li>活動經歷：宿營機動長、系壘副隊長、系學會副會長、羽球社副社長、畢委會活動長。</li>
            <li>專業技能：Javascript、PHP、Java等。</li>
        </ul>
        <p></p>
    </blockquote>
</div>

<div class="edit">
    <div class="social-links">
        <a href="https://www.facebook.com/leanjn0922" target="_blank" rel="nofollow noopener noreferrer"></a>
        <a href="https://github.com/AndsLog" target="_blank" rel="nofollow noopener noreferrer"></a>
    </div>
</div>

<div>
    <p>email：<a href="mailto:leanjn0922@gmail.com" target="_blank" rel="nofollow noopener noreferrer">leanjn0922@gmail.com</a></p>
    <p>電話：0910-896919</p>
</div>